/* Colors and fonts */

body {
	background: #fbf7f0;
	color : #070d59;
	font-size: 16px;
	font-weight: lighter;
} 

body, h2 {
	font-family: 'Roboto', sans-serif;
}

h1 { 
	color: #686d76;
	font-family: times; 
	font-size: 35;
}

h2 { 
	color: #968c83;
	font-size: 24;
	font-weight: 300; lighter; 
 }

a {
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color : black;
	font-weight: bold;
	font-size: 16px;
}
a:hover { 
	color: grey;
 }


/* Custom design with class */
.container { 
	width: 700px; 
	margin: 40px auto;
 }

@media (max-width: 760px) {
	.container { 
		width: 600px; 
	}
}

@media (max-width: 500px) {
	.container { 
		width: 400px; 
	}
}

.card-white { 
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px; color: rgba(0,0,0,0.3);
	border-radius: 4px;
	margin: 20px;
	text-align: center;
 }
.img-cirlce {
	border-radius: 50px;
}
.btn-blue {
	background: black;
	color: white; 
	padding: 05px 05px;
	border-radius: 4px; 
}
.btn-blue hover { 
	background: grey;
	color: white;
 }
.list-inline { 
	list-style: none;
	padding-left: 0px;
 }
 .list-inline li { 
 	display: inline;
 	padding: 10px;
 }
.list-inline i { 
	font-size: 40px;
 }
#introduction p {
	margin-bottom: 40px;
}
